<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>już po logowaniu?</h1>
<ul>
    <li><a href="/justhappened">JustHappened - opis pomysłu projektowanej przeze mnie aplikacji</a></li>
    <li><a href="/customers">Database access test example. Customers list.</a></li>
    <li href="/register">Click here to register</li>
</ul>
</body>
</html>