<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>  New reactive homepage! Click link below!  </h1>
<br>
<ul>
    <li><a href="https://main.d2k041opttu9wi.amplifyapp.com/"> >>> New home page <<< </a></li>
    <li> ^ React Single Page Application hosted on AWS Amplify Cloud ^ </li>
    <li></li>
    <li><a href="/justhappened">JustHappened - opis pomysłu projektowanej przeze mnie aplikacji</a></li>
</ul>
</body>
</html>